*{
    color:antiquewhite;
    font-weight: lighter;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.heavy{
    font-size: large;
    font-weight: bolder;
    color:aliceblue;
}
.container{
    display: grid;
    height: 100vh;
    grid-template-rows: .5fr 2fr 2fr .5fr;
    grid-template-areas: "nav" "about" "scroll" "footer"
    ;
}


.navbar{
    /* background-color: darkgoldenrod; */
    grid-area: nav;
}

.aboutBox{
    background-image: url(/assets/images/blkgold_filmFrame.png);
    background-repeat:no-repeat;
    background-size: contain;
    grid-area: about;
}
.aboutBox>img{
    position: relative;
    left: 52%;
    bottom:24%;
}
.aboutText{
    padding-left: 10%;
    padding-top: 8%;
    width: 80%;
}
.slimText{
    margin-top: 4%;
    width: 60%;
}


.aboutScrollArea{
    background-color: lightcoral;
    grid-area: scroll;
}

.footer{
    background-color: darkolivegreen;
    grid-area: footer;
}