*{
    color:antiquewhite;
    font-weight: lighter;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
body, .container, .aboutBox, .aboutScrollArea {
    touch-action: none;
}
.heavy{
    font-size: large;
    font-weight: bolder;
    color:aliceblue;
}
.container{
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "nav" "main" "footer"
    ;
}


.navbar{
    /* background-color: darkgoldenrod; */
    grid-area: nav;
}

.main {
    grid-area: main;
    overflow:hidden;
    max-height: 80vh;
    min-width: 100vw;
    background-color: bisque;
}

.aboutBox{
    background-image: url(/assets/images/blkgold_filmFrame.png);
    background-repeat:no-repeat;
    background-size: cover;
    grid-area: about;
    padding-top: 11%;
    padding-bottom: 11%;
}
.aboutBox img{
    position: fixed;
    left: 50%;
    top: 22%;
}
.aboutText{
    padding-left: 12%;
    width: 80%;
}
.aboutScrollArea{
    background-color: lightcoral;
}
.scrollbox{
    display: flex;
    overflow-y:scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    touch-action: pan-y;
    padding-left: 10%;
    height: 300px
}
.slimText{
    margin-top: 4%;
    width: 60%;
}
/* .scrollableImages{
   
} */
.scrollableImages > img{
    flex-shrink: 0; 
    /* width: 40%;
    height: auto; */
    margin: 1%;
    
}




.footer{
    background-image: url(/assets/images/fadeBtmAboutUs.png);
    background-size: 100% 100%;
    
    grid-area: footer;
}