button {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
button + button {
  margin-left: 10px;
}
.navbar {
  grid-area: nav;
}

.main {
  /* background-color: darkkhaki; */
  grid-area: main;
  display: grid;
  grid-template-areas:
    "info info info"
    "image title title"
    "image director runtime"
    "image quantity price"
    "total total total"
    "buttons buttons buttons";
  padding-right: 5%;
}
.main > img {
  height: 180px;
  grid-area: image;
  border: 1px solid #b78841;
  border-radius: 25%;
}
.infotext {
  grid-area: info;
}

.title {
  grid-area: title;
  font-size: x-large;
}
.director {
  grid-area: director;
}
.runtime {
  grid-area: runtime;
}
.quantity {
  grid-area: quantity;
}
.price {
  grid-area: price;
}
.total {
  grid-area: total;
  display: flex;
  justify-content: right;
}
.total > span {
  display: flex;
  justify-self: left;
}
.buttons {
  grid-area: buttons;
  display: flex;
  justify-content: right;
}
.footer {
  grid-area: footer;
}
