body,
html {
  max-height: 100%;
}
.main {
  grid-area: main;
  display: grid;
  grid-template-areas:
    "header"
    "info"
    "image"
    "back";
  color: var(--color-primary);
  margin-left: 20px;
}
.header {
  grid-area: header;
}
.info {
  grid-area: info;
  margin-top: -70px;
  margin-right: 25px;
}
.info > a {
  color: var(--color-primary);
  text-decoration: underline;
  font-size: large;
}
.info > a:hover {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}
.main > img {
  height: 180px;
  grid-area: image;
  border: 1px solid #b78841;
  border-radius: 25%;
  margin-top: -5%;
  margin-left: 20px;
}
.back {
  grid-area: back;
  text-align: right;
  margin-top: -80px;
  height: fit-content;
  margin-right: 25px;
}
.footer {
  grid-area: footer;
  background-image: url("https://i.ibb.co/R0sCjQv/cart-Footer-Img.png");
  background-position: center;
  background-size: cover;
  padding-top: 25%;
}

@media (min-width: 700px) {
  .main {
    padding-left: 30%;
  }
  .header {
    font-size: 40px;
  }
  .info {
    font-size: x-large;
    padding-top: 5%;
  }
  .info > a {
    font-size: x-large;
  }
  .main > img {
    margin-top: 5%;
    height: 270px;
  }
  .back {
    margin-right: 40%;
  }
  .footer {
    padding-top: 10%;
  }
}
@media (min-width) {
  .footer {
    padding-top: 0;
  }
}
@media (min-width: 1300px) {
  /* .footer {
    padding-top: 21%;
  } */
  .back {
    margin-right: 60%;
  }
}
@media (min-width: 1700px) {
  .back {
    margin-right: 70%;
  }
}
