* {
  color: var(--color-primary);
}
.heading {
  font-size: large;
}
/*filmlistbox needs to be flex  -vertical align items+scrollable, 
&grid on each filmcard to place elements within*/
.filmListBox {
  grid-area: main;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  touch-action: pan-y;
}
.filmCard {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "image title title"
    "image director runtime"
    "image price price"
    "image genre genre";
  background-image: url(https://i.ibb.co/Cn6dWDH/blkgold-film-Frame.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 215px;
  width: 360px;
  margin-top: 15px;
  padding-bottom: 30px;
  margin-left: 10%;
}
.filmCard > img {
  height: 199px;
  width: 130px;
  grid-area: image;
  border-radius: 15% 0% 0% 15%;
  margin-top: 7px;
  margin-left: 25px;
  border: 1px solid #b78841;
}

.filmTitle {
  grid-area: title;
  margin-top: 5%;
  margin-left: 15px;
  font-size: 25px;
}
.filmDirector {
  grid-area: director;
  margin-left: 10%;
  font-size: 12px;
}
.filmRuntime {
  grid-area: runtime;
  font-size: 12px;
  width: 90px;
}

.filmPrice {
  grid-area: price;
  font-size: 12px;
  color: antiquewhite;
  /*adjust price to the right of its box*/
  display: flex;
  justify-content: right;
  /*get price to the top of its box*/
  margin-bottom: 90px;
  margin-right: 50px;
}
.filmGenres {
  grid-area: genre;
  margin-bottom: 10px;
  font-size: 12px;
  text-align: center;
  width: 150px;
  color: var(--color-darker);
}

.footer {
  background-image: url("https://i.ibb.co/HTh1zBX/footer-Img-film-List.png");
  background-position: right center;
  background-size: cover;
}

@media (min-width: 500px) {
  .heading {
    font-size: xx-large;
    position: absolute;
    top: 12%;
  }

  .filmListBox {
    /* flip the list horizontally */
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    touch-action: pan-x;
    width: 100vw;
    height: 50vh;
    margin-top: 120px;
  }

  /*Div around each card element gives chance to enlarge background without effing up content!*/
  .filmCard {
    grid-template-rows: repeat(12, minmax(20px, 1fr));
    grid-template-columns: repeat(12, minmax(20px, 1fr));
    background-image: url(https://i.ibb.co/r2G5R4P/blkgold-film-Frame-horiz.png);
    background-position: center;
    height: 260px;
  }

  .filmCard > img {
    grid-column: 1/7;
    grid-row: 2/12;
    margin-left: 15px;
    margin-top: 0px;
    height: 220px;
    border: 2px solid #b78841;
    border-radius: 25% 0% 0% 25%;
  }
  .filmTitle {
    grid-column: 6/11;
    grid-row: 2/3;
  }
  .filmDirector {
    grid-column: 6/7;
    grid-row: 4/5;
    font-size: 15px;
  }
  .filmRuntime {
    grid-column: 10/11;
    grid-row: 4/5;
    font-size: 15px;
  }
  .filmPrice {
    grid-column: 10/12;
    grid-row: 9/10;
    width: 40px;
    font-size: large;
  }
  .filmGenres {
    grid-column: 7/11;
    grid-row: 11/13;
    width: 160px;
    margin-left: -20px;
    font-size: 15px;
  }
  .footer {
    margin-top: -25%;
  }
  .footer > img {
    height: 15%;
  }
  .followTxt {
    margin-top: 10.5%;
  }
  .soMeBtns {
    margin-left: -4%;
    margin-top: 12%;
  }
  .footerBtns {
    margin-top: 16.5%;
    margin-left: -17.5%;
  }
}
