*{
    color:var(--color-primary);
    font-weight: lighter;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
body, html{
    /* background-color: white; */
    height: 100%;
    overflow: hidden;
    margin:0;
    padding:0;
  } 

body, .container, .aboutBox, .aboutScrollArea {
    touch-action: none;
}
.container{
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "nav" "main" "footer"
    ;
}

/*filmlistbox needs to be flex  -vertical align items+scrollable, 
&grid on each filmcard to place elements within*/
.filmListBox{
    grid-area: main;
    display: flex;
    flex-direction: column;
    overflow-y:scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    touch-action: pan-y;
    width: 100vw;
}
.filmCard{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto 1fr auto ;
    grid-template-areas: 
        "image title title" 
        "image director runtime"
        "image price price" 
        "image genre genre"
    ;
    background-image: url(/assets/images/blkgold_filmFrame.png);
    background-size:contain;
    background-repeat: no-repeat;
    height: 215px;
    width: 360px;
    margin-top: 15px;
    padding-bottom: 30px;
}
.filmCard > img{
    height: 195px;
    width: 130px;
    grid-area: image;
    border-radius: 15%;
    margin-top: 7px;
    margin-left: 25px;
}

.filmTitle{
    grid-area: title;
    margin-top: 5%;
    margin-left: 15px;
    font-size: 25px;
}
.filmDirector{
    grid-area: director;
    margin-left: 10%;
    font-size: 12px;
}
.filmRuntime{
    grid-area: runtime;
    font-size: 12px;
    width: 90px;
}

.filmPrice{
    grid-area: price;
    font-size: 12px;
    color: antiquewhite;
    /*adjust price to the right of its box*/
    display: flex;
    justify-content: right;
    /*get price to the top of its box*/
    margin-bottom: 90px;
    margin-right: 50px;
}
.filmGenres{
    grid-area: genre;
    color:lightskyblue;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 12px;
}
.navbar{
    grid-area: nav;
}
/*special setting to place menu dropdown correctly on this page*/
.menuItems {
    display: fixed;
    position: relative;
    top: -15px;
    right: -90%;
    width: 45%;
    height: auto;
    opacity: 0;
    transform: translateX(100%);

}

.footer{
    background-image: url(/assets/images/footerImg_filmList.png);
    background-position: right center;
    background-size: cover;
    grid-area: footer;
}


@media (min-width: 900px){
/*horizontal scroll*/

    .filmListBox{
        grid-area: main;
        /* display: flex;
        flex-direction:row;
        overflow-y: hidden;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        touch-action: pan-x;
        width: 100vw; */
        width:400px;
        height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        transform: rotate(-90deg);
        transform-origin: right top;
        scroll-snap-type: x mandatory;
        touch-action: pan-x;
    }
 

 .filmCard{
    width: 100px;
    height: 100px;
    transform: rotate(90deg);
    transform-origin: right top;
 }

    .footer{
        background-image: url(/assets/images/footerImg_filmList.png);
        background-position: center;
        background-size: cover;
        padding-top: 10%;
        grid-area: footer;
    }
}