.container{
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "nav" "list" "footer"
    ;
}
.filmListBox{
    background-color: cornflowerblue;
    grid-area: list;
}
.navbar{
    grid-area: nav;
}

.footer{
    grid-area: footer;
}