.footer {
  opacity: 0.5;
  text-align: center;
  display: flex;
  padding-bottom: 0;
}

.footer > img {
  height: 40%;
  opacity: 1;
}

.followTxt {
  margin-top: -45px;
}

.heavy {
  font-weight: bolder;
  font-size: larger;
}

.soMeBtns {
  margin-left: -80px;
  margin-top: -15px;
}

.footerBtn {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  height: 20px;
  width: 90px;
  border-radius: 15%;
  margin-bottom: 5px;
  padding-bottom: 10px;
}

.footerBtns {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  margin-left: -210px;
}

@media (max-width: 900px) {
  .followTxt {
    margin-top: 0px;
  }
  .soMeBtns {
    margin-left: -90px;
    margin-top: 25px;
  }
  .footer > img {
    height: 25%;
  }
  .footerBtns {
    margin-top: 65px;
    margin-left: -145px;
  }
}
.footerBtn {
  height: 17px;
  width: 80px;
  padding-bottom: 10px;
}

@media (min-width: 1200px) {
  .footerBtns {
    margin-left: -18%;
    margin-top: 5%;
  }
}
