.container {
    border: 5px solid black;
    display: grid;
    grid-template-rows: 5;
    background-color: gainsboro;
    grid-template-areas: "navbar"
    "main"
    "footer"
    ;
}
.navbar{
    background-color: aquamarine;
}
.main{
    background-color: cornsilk;
    border: 1px solid black;
}
.logoBox{
    background-color: lightblue;
}
.logoBox, img{
    height: 200px;
    width: 200px;
    border: 3px solid hotpink;
    background-color: blueviolet;
}
.discoverFilmsBox{
    background-color: lightgreen;
}
.purcahsedFilms{
    background-color: lightcoral;
}
.footer{
    background-color: yellow;
}