* { border: 1px solid red !important; }
html{
    margin-bottom: -100px;
    padding: 0;
    overflow: hidden;
}
body{
  background-color: white;
  height: 100%;
} 


.container {
    display: grid;
    height: 100vh;
    grid-template-rows: .5fr 1fr 1fr .5fr .5fr;
    grid-template-areas: "nav"
        "logo"
        "discover"
        "purchased"
        "footer"
    ;
    background-image: url(/assets/images/QuareEyesPopcornBKG_nologo_1.png);
}

.logoBox {
    grid-area: logo;
    display: flex;
    justify-content: right;
}

.logoBox>img {
    height: 50%;
    width: 50%;
}

.discoverFilmsBox {
    grid-area: discover;

}

.discoverFilmsBox>img {
    height: 50%;
    width: 50%;
}

.purchasedFilms {
    grid-area: purchased;
    color: black;
    -webkit-text-stroke: 0.5px #EDE59C;
}

.footer {
    grid-area: footer;
    background-color:bisque;
    opacity: 0.8;
}

.footer>img {
    height: 20%;
}



  
 .slider {
    /* line them up horizontally */
    display: flex;
    aspect-ratio: 16 /9;
    /* allow for scrolling */
    overflow-x: auto;
  
    scroll-snap-type: x mandatory;
    /* make it smooth on iOS */
    -webkit-overflow-scrolling: touch;
  }
  .slider > img {
    /* make sure the width is honored */
    flex-shrink: 0;
    width: 50%;
    height: auto;
  }
  