body{
    background-color: white;
    height: 100vh;
  }



.container {
    display: grid;
    height: 100vh;
    grid-template-rows: .5fr 1fr 1fr .5fr .5fr;
    grid-template-areas: "nav"
        "logo"
        "discover"
        "purchased"
        "footer"
    ;
    background-image: url(/assets/images/QuareEyesPopcornBKG_nologo_1.png);

}


.logoBox {
    grid-area: logo;
    display: flex;
    justify-content: right;
}

.logoBox>img {
    height: 50%;
    width: 50%;
}
.discoverFilmsBox {
    grid-area: discover;

}
.discoverFilmsBox>img {
    height: 50%;
    width: 50%;
}

.purchasedFilms {
    grid-area: purchased;
    color: black;
    -webkit-text-stroke: 0.5px #EDE59C;
}

.footer {
    grid-area: footer;
    background-color:bisque;
    opacity: 0.8;
}

.footer>img {
    height: 20%;
}

.slider{
    overflow-x: auto;
}

.slider > img {
    /* make sure the width is honored */
    flex-shrink: 0;
    width: 50%;
    float: right;
    height: auto;
  }