/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  --color-primary: #ede59c;
  --color-secondary: #373736;
  --color-darker: #b78841;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  --background-img: url(../../assets/images/QuareEyesPopcornBKG_nologo_1.png);
}
